@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-navy: #313E51;
  --color-navy: #3B4D66;
  --color-grey-navy: #626C7F;
  --color-light-grey: #F4F6FA;
  --color-light-bluish: #ABC1E1;
}
